<header>
  <div class="header-logo">
    <a href="/">JuratterApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Juratterとは</a>
    </li>
  </ul>
</header>

<div class="about-main">
  <h2>JuratterAppとは</h2>
  <p>
    snsサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/top.jpg">
</div>