<header>
  <div class="header-logo">
    <a href="/">JuratterApp</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Juratterとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>Juratterのつぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>